.container {
    position: relative;

    width: 20em;
    min-height: 1.5rem;

    border: 0.05em solid #777;
    border-radius: 0.25em;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5em;
    outline: none;
}

.container:focus {
    border-color: hsl(200, 100%, 50%);
}

.value {
    flex-grow: 1;
}

.clear-btn {
    background: none;
    color: #777;

    padding: 0.05em 0.3em;

    border: 1px solid transparent;
    border-radius: 0.25em;

    outline: none;

    font-size: 1.25em;

    cursor: pointer;
}

.clear-btn:is(:focus, :hover) {
    color: #333;
}

.clear-btn:focus-visible {
    border-color: hsl(200, 100%, 45%);
}

.value {
    flex-grow: 1;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: 0.05rem;
}

.caret {
    translate: 0 25%;
    border: 0.25em solid transparent;
    border-top-color: #777;
}

.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    width: 100%;

    max-height: 15em;
    overflow-y: auto;

    border: 0.05em solid #777;
    border-radius: 0.25em;

    left: 0;
    top: calc(100% + 0.25em);

    background-color: white;

    z-index: 10;
}

.options.show {
    display: block;
}

.option {
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.option.selected {
    background-color: hsl(200, 100%, 70%);
}

.option.highlighted {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.option-badge {
    display: flex;
    align-items: center;
    gap: 0.25em;
    
    padding: 0.15em 0.25em;
    
    border: 0.05em solid #777;
    border-radius: 0.25em;
    
    background: none;
    outline: none;
    
    cursor: pointer;
}

.option-badge:is(:hover, :focus) {
    background-color: hsl(0, 100%, 90%);
    border-color: hsl(0, 100%, 50%);
}

.option-badge:is(:hover, :focus) > .remove-btn {
    color: hsl(0, 100%, 50%);
}

.option-badge > .remove-btn {
    font-size: 1.25em;
    color: #777;
}
